@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title</h3>

<address>
    1 UNF Drive<br />
    Jacksonville, FL. 32257<br />
    <abbr title="Phone">P:</abbr>
    904.673.2113
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">n01030753@ospreys.unf.edu</a><br />
</address>